<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>bwcheck</contextName>
	
	<jmxConfigurator contextName="bwcheck" />

	<appender name="BWFILE" 
		class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<File>log/bwcheck.log</File>
		<rollingPolicy 
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<FileNamePattern>logs/bwcheck.%d{yyyy-MM-dd}.log.gz</FileNamePattern> 
		</rollingPolicy>
		<level value="INFO"/>
		<layout class="ch.qos.logback.classic.PatternLayout"> 
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern> 
		</layout> 
	</appender> 
	<root>
		<level value="DEBUG" />
	</root>	
	<logger name="org.red5.demos.bwcheck">
		<level value="INFO"/>
	</logger>
</configuration>
